@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@400;500&display=swap");

.App {
  height:100%;
  margin-left:10%;
}

.Section{
  justify-content: space-around;
  flex-wrap:wrap;
  margin:20px;
  display:flex;
  flex-direction:column;
  min-width:50%;
  padding-left: 25%;
  padding-right: 5%;
  padding-bottom:20px;
  padding-top:3%;
  background:white;
}
.Section a{
  color:rgb(56, 106, 149);
}
.Section a:hover{
  color:rgb(203, 221, 237);
}
.Section p{
  font-size:15px;
}

h1, h2, h3{
  font-family: "Noto Sans HK","sans-serif";
  font-weight:300;
  color:gray;
}
.Nav h1{
 color:white;
}
.Section h2{
  padding-top:0px;
  line-height:0px;
}

p{
  font-family: "Noto Sans HK","sans-serif";
  font-weight:300;
  color:gray;
  line-height:170%;
  font-size:18px;

}
.footer p {
  font-size:11px;
  font-weight:200;
  color:rgb(203, 221, 237);
}
.footer{
  background: rgb(69, 89, 107);
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-left:10%
}
.footer a{
  color:rgb(203, 221, 237);

}
.footer a:hover{
  color:white;
}

.profilepicture{
  border-radius:50%;
  width:150px;
  height:150px;
  justify-content: center;
  align-items: center;
  padding-top:10px;
  padding-bottom:10px;
}

.wrapper .sidebar{
  width:20%;
  height:100%;
  position:fixed;
  z-index:1;
  overflow-x: hidden; 
  top:0;
  transition:.5s ease;
  flex-direction: column;
  display:flex;
  justify-content:space-around;
  align-items:center;
  background:rgb(56, 106, 149);
  font-size:20px;
}
.nav-links{
  list-style:none;
}

.icon:hover{
  color:white;
}
.link li:hover{
  color:white;
  text-decoration: underline 2px;
}
.link{
  color:rgb(203, 221, 237);
  margin:20px;
  padding:5px;
}
a:link { text-decoration: none; }
a:visited{text-decoration:none;}

.icon{
  width:35px;
  height:35px;
  color:rgb(203, 221, 237);
  margin:10px;
}

.home{
  line-height: 275%;
  padding-top: 5%;
}

.about{
  padding-top: 5%;
}
.about a{
  color:rgb(56, 106, 149);
}
.about a:hover{
  color:rgb(203, 221, 237);
}

hr{
  border: 2px solid rgb(69, 89, 107);
  margin-top: 2%;
  margin-right:5%;
  margin-left:0%;
  
}

title{
  font-family: "Noto Sans HK","sans-serif";
  font-weight:400;
  color:rgb(56, 106, 149);
  font-size:30px;
}